
[Desktop Entry]
Name=Trello
Comment=Trello Desktop application (unofficial)
Exec=/opt/trello-desktop/trello %F
Terminal=false
Type=Application
Icon=/opt/trello-desktop/icon.png
Categories=Office;Utility;
Keywords=trello;
StartupWMClass=marktext
Actions=NewWindow; 
